.bootstrap-select.full-width{
    width: 100% !important;
}

.navbar-vertical.navbar-expand-md .navbar-brand-img {
    max-height: 120px;
}

.form-gambar{
    .hide{
        display: none;
    }
    .label-file{
        height: auto;
        text-align: center;
        img{
            width: auto;
            max-height: 250px;
        }
        i{
            font-size: 80px;
        }
    }
}

// Cart page
.skin-light {
    .number-input.number-input{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.service-item {
    .product-image {
        height: 200px;
        margin-bottom: 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .title-price {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 10px;

        .service-title {
            text-align: left;
            width: 55%;
            margin-right: 10px;
            margin-bottom: 0;
        }
        p {
            color: #00afcb;
            font-weight: 500;
            font-size: 15px;
        }
    }
}