.form-gambar{
    .hide{
        display: none;
    }
    .label-file{
        height: auto;
        text-align: center;
        img{
            width: auto;
            max-height: 250px;
        }
        i{
            font-size: 80px;
        }
    }
}

// Cart page
.skin-light {
    .number-input.number-input{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}